.head{
	width: 100%;
	text-align: center;
	align-content: center;
	height: 2.6rem;
	line-height: 2.6rem;
	background: #007BFF;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.gr{
	width: 85%;
}
.next{
	width: 20%;
}
#nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: row;
}

#nav li {
	padding: 0.7rem 1.2rem;
	font-size: 1rem;
	list-style: none;
}

#nav li.act {
	border-bottom: 1px solid red;
}

#container{
	margin-top: 2rem;
}



.container section {
	height: 300px;
}