.head{
	width: 100%;
	text-align: center;
	align-content: center;
	height: 2.6rem;
	line-height: 2.6rem;
	background: #007BFF;
}
.swiper-container {
	width: 100%;
	height: 200px;
}
.swiper-wrapper{
	width: 100%;
	height: 100%;
}
.swiper-wrapper img{
	width: 100%;
	height: 100%;
}
.dynamicTopList{
	width: 100%;
	margin: auto;
	padding: 0.5rem 0;
}
.dynamicTitle {
	width: 100%;
	margin: auto;
	margin-top: 0.5rem;
	border-bottom: 1px #827c7a solid;
}
.title{
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.dynamicTitle p {
	height: 1.5rem;
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.6rem;
}
.hr{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem; 
	height: 0.01rem;
	color: #827c7a;
	box-shadow: none;
}

.dynamicTopSon{
	width: 90%;
	margin: auto;
	padding: 0.5rem 0;
	display: flex;
	flex-flow: row; 
	justify-content: space-between;
	border-bottom: 1px #F5F1F0 solid;
	font-size: 0.6rem;
}