*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
}
.header .top{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.bodys{
	width: 100%;
	position: absolute;
	overflow-y: scroll;
	top: 2.3rem;
	left: 0;
	bottom: 3.6rem;
	overflow: auto;
}
.me{
	width: 100%;
	height: 5rem;
	margin-top: 0.5rem;
}
.me .list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.me .list #tx{
	width: 15%;
	height: 70%;
}
.me .list #tx img{
	display: block;
	width: 100%;
	border-radius: 50%;
}
.me .list #name{
	width: 60%;
	height: 100%;
	font-size: 1.2rem;
	line-height: 1.5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
.me .list #name #wm{
	width: 100%;
}
.me .list #name #jj{
	width: 100%;
	height: 1.3rem;
	font-size: 0.875rem;
	overflow: hidden;/* 将溢出的文字隐藏并显示省略号 */
	text-overflow:ellipsis;
	white-space: nowrap;
}
.me .list #jt{
	width: 10%;
	margin-left: -1rem;
}
.me .list #jt .icongengduo{
	font-size: 1.5rem;
}
.lists{
	width: 90%;
	margin: auto auto;
	margin-top: 2rem;
	padding-top: 0.1rem;
	height: 21rem;
	background: #f5f4f4;
}
.lists .p1{
	width: 90%;
	margin: auto auto;
	border-bottom: 0.1rem dashed #B49370;
	margin-top: 2rem;
	font-size: 1.2rem;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}
.lists .p1 span{
	font-size: 1.2rem;
}


/* ---------------------------bodys----------------------------- */
.header #bodys{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	bottom: 3.6rem;
	position: absolute;
	overflow-y: scroll; 
	top: 2.3rem;
	left: 0;
	overflow: auto;
}
.header #bodys .list{
	width: 40%;
	line-height: 2rem;
	margin-top: 1.25rem;
	font-size: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.header #bodys .list img{
	width: 100%;
	height: 8rem;
}
.header #bodys .list p{
	width: 100%;
}
/* -------------------top------------------------ */
.top{
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	height: 2.3rem;
	line-height: 2.3rem;
	background: #eeeeee;
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
}
.iconfont{
	font-size: 1.5rem;
}

