.bodys{
	width: 100%;
	bottom: 0rem;
	position: absolute;
	overflow-y: scroll; 
	top: 2.3rem;
	left: 0;
	overflow: auto;
}
.iconthumbup-fill,.iconpinglun{
	font-size: 1.3rem;
	color: #707070;
}
.iconweizhi {
	color: #828282;
	font-size: 1rem !important;
}
/* --------------------------list------------------------------- */
.recommend1,.recommend2,.recommend3,.recommend4{
	width: 100%;
}
.list{	
	border-radius: 0.3125rem;
	background: #f6f6f6;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	margin: 0.5rem auto;
}
.imageson{
	padding: 0.3rem 0.3rem;
}
.imageson img{
	padding: 0 0.3rem;
	width: 4.5rem;
	height: 3.5rem;
}

.list .describe{
	width: 100%;
	font-size: 0.8rem;
	padding: 0 0.625rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.list .detail{
	width: 100%;
	height: 2rem;
	font-size: 0.8rem;
	padding: 0 0.3rem;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.LikeColor{
	color: #dc2f35;
}

.sonleft {
	width: 60%;
	padding-left: 0.5rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.sonimg img {
	border-radius: 50%;
	width: 3rem;
}

.jieshao{
	width: 50%;
	line-height: 3rem;
	margin-left: 1rem;
}
.dizhi {
	width: 60%;
}
.dizhifont {
	color: #828282;
	font-size: 0.6rem;
	line-height: 1rem;
}
.dzpl {
	width: 4rem;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}


.describe img{
	width: 300px;
	height: 180px;
}


