.head{
	width: 100%;
	text-align: center;
	align-content: center;
	height: 2.6rem;
	line-height: 2.6rem;
	background: #007BFF;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.iconfont {
	color: #cdcdcd;
	font-size: 1.5rem;
}
.iconketang{
	color: white;
}
.joinList{
	padding: 0.625rem;
}
.choose{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.joinclass button{
	/* width: 6.25rem; */
	padding: 0.3125rem 0.625rem;
	border: none;
	outline: none;
	background-color: none;
}