.head{
	width: 100%;
	text-align: center;
	align-content: center;
	height: 2.6rem;
	line-height: 2.6rem;
	background: #8fdf7e;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.iconfont {
	color: #cdcdcd;
	font-size: 1.5rem;
}
.iconketang{
	color: white;
}
.joinList{
	padding: 0.625rem;
	box-sizing: border-box;
}
.choose{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.joinclass button{
	/* width: 6.25rem; */
	padding: 0.3125rem 0.625rem;
	box-sizing: border-box;
	border: none;
	outline: none;
	background-color: none;
}
.joinList{
	width: 100%;
}
.joinList figure{
	display: flex;
	align-items: center;
}
.joinList figure img{
	width: 3.125rem;
	border-radius: 50%;
}


ul li{
	background: #8fdf7e;
	line-height: 2rem;
}