.head{
	width: 100%;
	text-align: center;
	align-content: center;
	height: 2.6rem;
	line-height: 2.6rem;
	background: #007BFF;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.new{
	width: 100%;
	height: 18.75rem;
	border: 1px solid red;
}